{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title"> Upload your project content and file </h5>    
    <h4>  </h4>    
  </div>
</div> 
<br><br>
<small> *Your upload is automatically on 'pending' till your supervisor approves it or declines it.</small>    
  <br><br><br>
  <div class="rounded border border-3 p-3" style="background-color: rgba(241, 236, 236, 0.89);">
    <div class="col-md-6 col-sm-8 col-12">
      <form class="" method="post"  enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="" class="btn btn-outline-secondary" role="button">Nevermind</a>
        {% for message in messages %}
        <li class="{{ message.tags }}">
        {{ message }}
        </li>
        {% endfor %}
      </form>
    </div>
  </div>

{% endblock %}