{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  .supervisor-menu{
  color: black;
  padding: 8px;
  background-color: #e7e7e7; color: black;
}
</style>

<script>
  function show(id) {   
    div = document.getElementById(id)
    if (div.style.display==='none'){
      div.style.display = "block"
    } else {
      div.style.display = "none"
    }
    

  }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- <script>
$(document).ready(function(){
  $("#profile").click(function(){
    // $("#profile").hide();
  });
  $(".student-widget").click(function(){
    $(".profile").toggle();
  });
});
</script> -->

<!-- <br><br><br><br>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Project Topic: {{ project }}</h5>
    <p class="card-text">Project Supervisor: {{ project.supervisor }}</p>
    <p class="card-text">Project Student: {{ project.student }}</p>
    <small> Project ID: {{project.id}} </small>
  </div>
  <div class="card-footer text-muted">
    Project Details
  </div>
</div>
     
     -->

<br><br><br>
<!-- <h3>Uploaded Projects <a href="{% url 'project_upload' %}" class="btn btn-primary">Upload new project content</a></h3>      -->
<a href="/accounts/logout" class="btn btn-outline-danger" > logout </a>
<br><br>

{% for n in notice %}    
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong></strong>{{ n.notice|safe }}.
  <form action="{% url 'read_true_supervisor' n.pk %}" method="post">
    {% csrf_token %}                                                  
    <input type="hidden" name="student_id" value="{{object.student.user.id}}">
    <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>  
  </form>
  
</div>
{% endfor %} 

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Students Projects Details</th>     
    </tr>
  </thead>
  <tbody>
    {% for i in project_uploads %}       
    <tr>
      <td>
        <div class="d-flex align-items-center">          
          <div class="ms-3 text-center">     
            <img src="/media/{{i.student.user.profile_pix}}" alt="" style="width: 65px; height: 65px" class="rounded-circle"/> &nbsp; &nbsp;        
            <a onclick="show('{{i.student}}')"  role="button" id="student-widget" href="javascript:;" class="btn btn-success student-widget"> {{i.student}}</a> 
                <br><br>                   

            <div id="{{i.student}}" class="border border-1 p-3 profile"  style="display: none; text-align: left;"  >       
              <h5>{{i.title}}</h5>    
              <h6></h6><i>Status: {{i.status}} </i>                  

                  <form action="{% url 'project_title_update_supervisor' i.pk %}" method="post">
                    {% csrf_token %}                                                  
                    <input type="hidden" name="student_id" value="{{i.student.user.id}}">
                    <br><label for="status"> Project status update </label> <br>
                    <input onclick="this.form.submit()"  type="radio" name="status" value="ongoing" /> Ongoing<br>
                    <input onclick="this.form.submit()"  type="radio" name="status" value="completed"/> Completed <br>
                    <input onclick="this.form.submit()"  type="radio" name="status" value="approved"/> Approve <br>
                    <input onclick="this.form.submit()" type="radio" name="status" value="disapproved"/> Disapprove <br>                    
                  </form>      

                <br>
                <a role="button"  class="btn btn-success btn-sm" href="{%  url 'view_messages_supervisor' i.student_id %}"> message </a>  <br><br>
                First name: {{i.student.user.first_name}}<br>
                Last name: {{i.student.user.last_name}}<br>
                Institution: {{i.student.user.institution}}<br>                
                Date of birth: {{i.student.user.date_of_birth}} <br>
                Department: {{i.student.user.department}} <br>
                Institution: {{i.student.user.institution}} <br> <br>
                
                <a  class="btn btn-secondary" href="{%  url 'defence_call_list_supervisor' i.student_id %}"> Defence </a> 
                <a  class="btn btn-secondary" href="{%  url 'project_upload_list_supervisor' i.student_id %}"> Project </a>
                <a  class="btn btn-secondary" href="{%  url 'supervisor_meeting_list' i.student_id %}">  Meeting </a>

            </div>

            <!-- <a class="">Show</a> -->

            </p>
          </div>
        </div>                     
      </td>
     
    </tr>
    {% endfor %}
    
  </tbody>
</table>

{% endblock %}

{% block js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}