{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
  .form-control{
    width: auto;
  }
  
  label {
  color: black;
  padding: 8px;
  background-color: #e7e7e7; color: black;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;

}
</style>

  <div class="" >
    <div class="rounded-top border border-1 p-3 text-center" >
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          <button onClick="window.location.href=window.location.href" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
      {% endfor %}
      
        <h1>
            {{ object.title }}
        </h1> <br>
        <a role="button"  class="btn btn-primary btn-sm" href="{% url 'update_project_content' object.pk %}?student_id={{object.student.user.id}}"> update </a>
        <p>
            {{ object.detail  | safe  }}
        </p>
        
        {% if object.file %}
        <p>
         Document: <a href="{{object.file.url }}">{{ object.file }}</a>
        </p>
        {% endif %}

        {% if object.file2 %}
        <p>
          Document: <a href="{{object.file2.url }}"> {{ object.file2 }}</a> 
        </p>
        {% endif %}
                
  
    </div>
   
  </div>
{% endblock %}