{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
  .form-control{
    width: auto;
  }
  
  label {
  color: black;
  padding: 8px;
  background-color: #e7e7e7; color: black;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;

}
</style>

  <div class="" >
    <div class="rounded-top border border-1 p-3 text-center">
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          <button onClick="window.location.href=window.location.href" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
      {% endfor %}
      
        <h1>
           <u>
            {{ object.title }}
           </u> 
        </h1> <br>
        <p>
            {{ object.detail | truncatewords_html:200 | safe  }}
        </p>
        
        <!-- {% if object.file %}
        <p>
         Document: <a href="{{object.file.url }}">{{ object.file }}</a>
        </p>
        {% endif %}

        {% if object.file2 %}
        <p>
          Document: <a href="{{object.file2.url }}"> {{ object.file2 }}</a> 
        </p>
        {% endif %} -->
        
        <a role="button" class="btn btn-primary btn-sm" href="{% url 'update_project_content' object.pk %}?student_id={{object.student.user.id}}"> update </a> |

        <a role="button"  class="btn btn-primary btn-sm" href="{% url 'project_upload_content_detail_supervisor' object.pk %}"> view full </a>

        <div class="rounded-top border border-1 p-4 m-4 text-center" >
          
          <form action="{% url 'project_update' object.pk %}" method="post">
                        {% csrf_token %} 
            <label for="customRange3" class="form-label">Student Grade </label>
                  <p>Value: <span id="gradevalue"></span></p>
                    {% if grade == 0  %}
                  <input name="grade" type="range" class="form-range" min="0" max="100" id="grade" value="0">
                        {% else %}
                  <input name="grade" type="range" class="form-range" min="0" max="100" id="grade" value="{{object.grade}}">
                    {% endif %}           

            <input type="hidden" name="student_id" value="{{object.student.user.id}}">
            <button type="submit" class="btn btn-success"> save grade </button>
          </form>
        </div>
        

        {% if object.status == 'approved' %}
        <small> <img height="20px" src="{% static 'img/verified.svg' %}" alt="vverified"> {{ object.status }}</small>
        <form action="{% url 'project_update' object.pk %}" method="post">
          {% csrf_token %}                                                  
          <input type="hidden" name="student_id" value="{{object.student.user.id}}">
          <select onclick="this.form.submit()"  class="form-control" name="status" class="form-select" aria-label="Default select example" >                
            <!-- <option value="approved">approved</option>  -->
            <option value="declined">Decline</option> 
            <!-- <option value="pedning">pending</option>                          -->
          </select>              
        </form>
        {% endif %}

        {% if object.status == 'pending' %}
        <small> <img height="20px" src="{% static 'img/unverified.svg' %}" alt="vverified"> {{ object.status }}</small>
        <form   action="{% url 'project_update' object.pk %}" method="post">
          {% csrf_token %}                                                  
          <input type="hidden" name="student_id" value="{{object.student.user.id}}">   <br>                   
            <input onclick="this.form.submit()" type="radio" name="status" value="approved" /> Approve<br>
            <input onclick="this.form.submit()" type="radio" name="status" value="declined"/> Decline
            <!-- <option value="pedning">pending</option>                          -->
          </select>              
        </form>
        {% endif %}

        {% if object.status == 'declined' %}
        <small> <img height="20px" src="{% static 'img/declined.svg' %}" alt="vverified"> {{ object.status }}</small>
        <form action="{% url 'project_update' object.pk %}" method="post">
          {% csrf_token %}                                                  
          <input type="hidden" name="student_id" value="{{object.student.user.id}}">
          <select onclick="this.form.submit()"  class="form-control" name="status" class="form-select" aria-label="Default select example" >                
            <option value="approved">Approve</option> 
            <!-- <option value="declined">declined</option>  -->
            <!-- <option value="pedning">pending</option>                          -->
          </select>              
        </form>
        {% endif %}        

    </div>

    <div class="rounded border border-3 p-3" style="background-color: rgba(228, 205, 205, 0.808);">
      <hr>
    {% for comment in comments %}
      {% if comment.user.is_student %}
        <b style="color: green;">{{ comment.user }}:</b>  
      {% endif  %}        
      
      {% if comment.user.is_supervisor %}
      <b style="color: rgb(34, 0, 128);">{{ comment.user }}:</b>  
      {% endif  %}      

        <small>{{ comment.created_on|timesince }} ago</small>
        <br>
        <p > {{ comment.comment }}</p>
        <br><br>
        <hr>    
    {% endfor %}
        <br>

    <small> Write review or comment on student project</small>
    <form class="form-control" method="post" action="{% url 'project_upload_detail_supervisor' object.pk %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-success"> send </button>
        <!-- <a href="" class="btn btn-outline-secondary" role="button">Nevermind</a> -->
       
      </form>
    </div>      
  </div>

  <script>
    var slider = document.getElementById("grade");
    var output = document.getElementById("gradevalue");
    output.innerHTML = slider.value;
    
    slider.oninput = function() {
      output.innerHTML = this.value;
    }
    </script>
{% endblock %}